<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="../static/style.css">
  <title>Occupy Ze Flask Street</title>
</head>

<body>
  <div id="wrapper">
    {% if randoccupation %}
    <p id="head">
      Occupy Ze Flask Street Is Our Name!!!
      <br>
      "What are YOU
       <br>
       We are 'THE PEOPLE'
       <br>
       We are the 99%
       <br>
       Join Us!"
      <br>
      Jun Tao Lei & Calvin Chu of Team Kubica (SoftDev1 pd9)
      <br>
      Your randomly selected occuptation is: <strong>{{ randoccupation }}</strong>.
    </p>
    <table id="tab">
      <tr>
        <th>Job Class</th>
        <th>Percentage</th>
      </tr>
      {% for i in jobs %}
      <tr>
        <td>
          {% if i != "Total" %}
          <a href="{{ jobs[i][1] }}">{{ i }}</a>
          {% else %}
          {{ i }}
          {% endif %}
        </td>
        <td>{{ jobs[i][0] }}</td>
      </tr>
      {% endfor %}
    </table>
    <p id="bot">
      Hyperlinks for jobs links to a query search of the job in Indeed.com.
    </p>
    {% else %}
    <h1>
      Something has gone wrong. Maybe check the terminal.
    </h1>
    {% endif %}
  </div>
</body>

</html>
