<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login</title>
</head>
<body>
  {% if msg %}
  <h1>{{ msg }}</h1>
  {% endif %}
  <form action="/login" method="GET">
    <input type="text" name="usrname" placeholder="Enter your username...">
    <input type="password" name="passwd" placeholder="Enter your password...">
    <input type="submit">
  </form>
  <br>
  Team Blorb<br>
  Leia Park & Jun Tao Lei<br>
  SoftDev1 Period 9
</body>
</html>
