body {
    display: grid;
    height: 98vh;
    background-color: #383833;
    grid-template: 
        "head head" 0.1fr
        "side main" 0.80fr
        "foot foot" 0.1fr
        / 0.15fr 0.85fr;
}

.head {
    grid-area: head;
    background-color: #a9a9a9;
    color: #ffffff;
    text-align: center;
}

.side {
    grid-area: side;
    background-color: #505050;
    margin: 0;
    padding: 0 1vw;
}

.side ul {
    list-style: none;
    padding: 0;
}

.side ul li a {
    color: #c0c0c0;
    text-decoration: none;
}

.main {
    grid-area: main;
    background-color: #505050;
    padding: 0 1vw;
}

.foot {
    grid-area: foot;
    color: #808080;
    background-color: #404040;
    text-align: right;
    padding: 1vh 1vw;
}