body {
    margin: 0;
    width: 100%;
    display: grid;
    color: #383833;
    grid-template: 
        "head head" 0.125fr
        "side main" 0.75fr
        "foot foot" 0.125fr
        / 0.25fr 0.75fr;
}

.head {
    grid-area: head;
    background-color: #a9a9a9;
    color: #ffffff;
}

.side {
    grid-area: sidebar;
    background-color: #505050;
}

.side li {
    color: #c0c0c0;
}

.main {
    grid-area: main;
    background-color: #505050;
}

.foot {
    grid-area: footer;
    color: #404040;
    background-color: #282828;
    text-align: right;
}