<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Astronomy Picture of the Day</title>
</head>

<body>
    <h3>{{ title }}</h3>
    {% if pic %}
    <img src="{{ pic }}" alt="">
    {% endif %}
    {% if date %}
    <h4>Astronomy Picture of the Day -- {{ date }}</h4>
    {% endif %}
    {% if explanation %}
    <p>{{ explanation }}</p>
    {% endif %}
</body>

</html>