{% extends "base.html" %}

{% block title %}Query Thy Datasets{% endblock %}

{% block content %}
<form action="/query">
  <input type="radio" id="meteorites" name="selectQueryType" value="meteorites">
  <label for="meteorites">Meteorites</label>
  <input type="radio" id="licenses" name="selectQueryType" value="licenses">
  <label for="licenses">Licenses</label>
  <input type="text" name="searchQuery" value="Type thy query...">
  <input type="submit" value="Search">
</form>

<div>
  <h6>Instructions</h6>
  <p>Search Format: {Your Query} {Your Constraint}</p>
  <p>Example: filter::copyleft</p>
</div>
{% endblock %}
